*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('./Assets/Bg.jpg');
    font-family: "Raleway", sans-serif;
}

.box{
    height: 85vh;
    width: 35vw;
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box img{
    margin-top: 30px;
}
.heading{
    padding: 10px;
}
.sub-text{
    color: gray;
    font-size: 12px;
}
.my-form{
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: left;
    margin-top: 40px;
}

.format{
    margin-left: 25px;
    padding: 9px;
    margin-right: 25px;
}
.checkbox{
    display: flex;
   margin: auto;
   
}
.checkbox span{
    font-size: 8px;
    padding: 4px;
}
button{
    background-color: #3f0267;
    width: 150px;
    height: 45px;
    margin: auto;
    text-align: center;
    border: none;
    margin-top: 27px;
    color:white;
}
button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}